.s-one{
    /*display: flex;*/
    /*justify-content: space-between;*/
    width: -webkit-fill-available;
}
.s-one-a{
    color: #29b078;
    margin: 7px 0 0 0;
    float: left;
}
.s-one-b{
    margin: 5px 0 5px 0;
    float: right;
}
.s-one-c{
    color: #29b078;
    display: none;
    float: right;
    width: -webkit-fill-available;
}
.s-one-c p{
    margin: 0;
    text-align: right;
    margin-top: 6px;
    height: 26px;
}
@media screen and (max-width: 700px) {
    .s-one{
        display: none;
    }
    .s-one-c{
        display: block;
    }
}
.s-two{
    background-color: #29b078;
    height: 65px;
}
.s-two-box{
    width: -webkit-fill-available;
    padding-top: 18px;
}
.s-two-a{
    height: 33px;
    width: 182px;
    float: left;
}
.s-two-b{
    float: right;
    padding-top: 6px;
}
.s-two-c{
    color: #ffffff;
    padding: 0 12px 17px;
    border-bottom: 2px solid #29b078;
}
a{
    font-size: 16px!important;
}
.s-two-c:hover{
    border-bottom: 2px solid #ffffff;
}
.s-two-d{
    padding: 8px 9px 8px 9px;
    border: 1px solid;
    border-color: #ddd;
    border-radius: 5px;
    float: right;
    display: none;
}
@media screen and (max-width: 700px) {
    .s-two-b{
        display: none;
    }
    .s-two-d {
        display: block;
    }
}
@media screen and (min-width: 700px) {
    .collapse{
        display: none;
    }
}
.s-three-a{
    position: absolute;
    top: 46px;
    right: 8px;
    opacity: 0;
    display: none;
}
@media screen and (max-width: 700px) {
    .s-three-a{
        display: block;
    }
}
.s-three-b{
    background-color: #29b078;
    text-align: center;
    padding-bottom: 20px;
    height: 124px;
    width: -webkit-fill-available;
}
.s-three-b p{
    color: #ffffff;
    height: 31px;
    margin-bottom: 0;
}
.s-three-b p:hover{
    color: #020000;
    border-bottom: 3px solid;
    border-bottom-color: #ffffff;
}
.min1-box{
    height: 195px;
    width: -webkit-fill-available;
}

.max1-width{
    margin: 20px 0 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #d0d6d9;
}
@media screen and (min-width: 1200px) {
    .min3{
        padding: 0 12px 0 0!important;
    }
    .min4{
        padding: 0!important;
    }
}
.cr2-width{
    color: #29b078;
    font-weight: bold;
}
.max2-width{
    margin: 20px 0 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #edf1f2;
}
.cr3-width{
    font-size: 14px;
    color: #999999;
}
a{
    font-size: 14px;
    text-decoration:none !important;
    color:#020000 !important;
}
a:hover{
    color: #ffffff!important;
    background-color: #29b078;
}
.max3-width{
    margin: 20px 0 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #d0d6d9;
    font-weight: bold;
    font-size: 17px;
    width: -webkit-fill-available;
}
        .grid{
            display: grid;
            grid-auto-columns: 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8%;
            grid-auto-rows: 158px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
            border: 1px solid #edf1f2;
            border-radius: 4px;
            margin-top: 31px;
            background-color: #ffffff;
        }
        .box1{
            padding: 8px 0 0 8px;
        }
        .item1{
            grid-column: 1/5;
            grid-row: 1/1;
        }
        .item2{
            grid-column: 7/14;
            grid-row: 1/1;
        }
        .item2 p{
            font-weight: bold;
            font-size: 1px;
            margin: 20px 0 10px 0;
        }
        .item2 span{
            font-size: 1px;
        }
        .item3{
            grid-column: 1/8;
            grid-row: 3/4;
            border-top:1px solid #edf1f2;
            border-right:1px solid #edf1f2;
            border-bottom:1px solid #edf1f2;
            font-size: 1px;
            padding-top: 6px;
        }
        .item3 span{
            padding-left: 8px;
            vertical-align: middle;
            color: #999999;
        }
        .item4{
            grid-column: 8/16;
            grid-row: 3/4;
            border-bottom: 1px solid #edf1f2;
            border-top: 1px solid #edf1f2;
            font-size: 1px;
            padding-top: 6px;
        }
        .item4 span{
            padding-left: 8px;
            vertical-align: middle;
            color: #999999;
        }
        .item5{
            grid-row: 4/5;
            grid-column: 1/8;
            border-bottom: 1px solid #edf1f2;
            border-right: 1px solid #edf1f2;
            font-size: 1px;
            padding-top: 6px;
        }
        .inm1{
            padding-left: 8px;
            color: #999999;
            vertical-align: middle;
        }
        .inm2{
            font-size: 14px;
            font-weight: bold;
            color: red;
            vertical-align: middle;
        }
        .inm3{
            vertical-align: middle;
        }
        .item6{
            grid-row: 4/5;
            grid-column: 8/16;
            border-bottom: 1px solid #edf1f2;
            font-size: 1px;padding-top: 6px;


        }
        .inm4{
            padding-left: 8px;
            color: #999999;
            vertical-align: middle;
        }
        .inm5{
            color: red;
            font-weight: bold;
            font-size: 14px;
            vertical-align: middle;
        }
        .inm6{
            vertical-align: middle;
        }
        .item7{
            grid-row: 5/8;
            grid-column: 1/7;
            color: #999999;
            border-bottom: 1px solid #edf1f2;
            border-right: 1px solid #edf1f2;
            font-size: 1px;
            text-align: -webkit-center;
            padding-top: 46px;
        }
        .item8 {
            grid-row: 5/6;
            grid-column: 7/16;
            border-bottom: 1px solid #edf1f2;
            font-size: 1px;
        }
        .inm8{
            float: left;
            padding-left: 15px;
            padding-top: 11px;
        }
        .inm9{
            float: right;
            padding-top: 11px;
            padding-right: 20px;
        }
        .item9{
            grid-row: 6/7;
            grid-column: 7/16;
            border-bottom: 1px solid #edf1f2;
            font-size: 1px;
        }
        .inm10{
            float: left;
            padding-left: 15px;
            padding-top: 11px;
        }
        .inm11{
            float: right;
            padding-top: 11px;
            padding-right: 20px;
        }
        .item10{
            grid-row: 7/8;
            grid-column: 7/16;
            border-bottom: 1px solid #edf1f2;
            font-size: 1px;
        }
        .inm12{
            float: left;
            padding-left: 15px;
            padding-top: 11px;
        }
        .inm13{
            float: right;
            padding-top: 11px;
            padding-right: 20px;
        }
        .item11{
            grid-row: 8/9;
            grid-column: 1/16;
            border-bottom: 1px solid #edf1f2;
            padding-top: 11px;
            font-size: 1px;
        }
        .inm14{
            padding-left: 8px;
        }
        .inm15{
            color: red;
        }
        .item12{
            grid-row: 9/10;
            grid-column: 1/16;
        }
        .item12 span{
            font-size: 12px;
            padding-left: 8px;
            vertical-align:-webkit-baseline-middle;
        }
        .ending{
            background-color: #29b078;
            width: 100%;
            height: 392px;
            margin-top: 119px;
        }
        .cr3-ending{
            color: #ffffff;
            border-bottom: 1px solid #29b078;
        }
.crq-ending{
    color: #ffffff;
}
        .cr4-ending{
            color: #ffffff;
            padding-bottom: 3px;
        }
        .cr5-ending{
            height: 26px;
        }
        @media (min-width: 768px) {
            .ending{
                height: 170px;
            }
        }
        @media (min-width: 768px) {
            .cr-ending{
                padding-top: 18px;
            }
            .cr1-ending{
                padding-left: 2px;
            }
        }
        .cr3-ending:hover{
            border-bottom: 1px solid #ffffff;
        }
        .box-ending{
            width: 100%;
            background-color: #29b078;
            border-top: 3px solid #32c086;
            text-align: center;
            font-size: 14px;
            color: #ffffff;
        }
        .box-ending p{
            margin: 0;
        }
        .qwe {display:none;
        -webkit-animation: cartoon 1s;
        }
        @keyframes cartoon {
            0%{
                -webkit-transform: rotateY(0deg);
            }
            100%{
                -webkit-transform: rotateY(360deg);
            }
        }
        .grid:hover .qwe{
            display: block;
        }
        .qwe{
            grid-row: 1/10;
            grid-column: 1/16;
            width: 100%;
            background-color: #999999;
            background: rgba(0, 0, 0, 0.6) none repeat scroll !important;
            filter: Alpha(opacity=20%);
            text-align: -webkit-center;
            padding: 28px;
            color: #ffffff;
        }
        .qwe p:hover {
            opacity: 1;
        }
        .cr6-ending{
            display: flex;
        }
@media (min-width: 1200px) {
    .cr1x-ending{
        float: right;
    }
}
.row{
    margin-right: 0!important;
    margin-left: 0!important;
}
