footer {
  .ending {
    background-color: #29b078;
    width: 100%;
    height: 392px;
    margin-top: 2px;
    .crq-ending {
      color: #ffffff;
      margin-bottom: 1rem;
      margin-top: 0;
    }
    .cr5-ending {
      height: 26px;
      margin-bottom: 1rem;
      margin-top: 0;
    }
    .cr3-ending {
      color: #ffffff;
      border-bottom: 1px solid #29b078;
      margin-bottom: 1rem;
      margin-top: 0;
    }
    .cr6-ending {
      display: flex;
    }
  }
  .crx-ending {
    padding-left: 172px;
  }
  .cr4-ending {
    color: #ffffff;
    margin-top: 0;
  }
  @media (min-width: 768px) {
    .ending {
      height: 170px;
    }
  }
  @media (min-width: 768px) {
    .cr-ending {
      padding-top: 18px;
    }
    .cr1-ending {
      padding-left: 12px;
    }
    .cr1x-ending {
      float: right;
      padding-right: 12px;
    }
  }

  .cr3-ending:hover {
    border-bottom: 1px solid #ffffff;
  }

  .box-ending {
    width: 100%;
    background-color: #29b078;
    border-top: 3px solid #32c086;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
  }

  .box-ending p {
    margin: 0;
  }
}