body{
  margin: 0;
}
main {
  .min1 {
    //height: 195px;
    width: -webkit-fill-available;

    .max1 {
      margin: 20px 0 0;
      padding-bottom: 20px;
      border-bottom: 1px solid #d0d6d9;

      .cr2-width {
        color: #29b078;
        font-weight: bold;
      }
    }

    .max2 {
      margin: 20px 0 0;
      padding-bottom: 20px;
      border-bottom: 1px solid #edf1f2;
      background-color: #ffffff;
      .cr3-width {
        font-size: 14px;
        color: #999999;
      }

      a {
        text-decoration: none;

        &:hover {
          color: #ffffff !important;
          background-color: #29b078;
        }
      }
    }

    .max3 {
      margin: 20px 0 0;
      padding-bottom: 20px;
      border-bottom: 1px solid #d0d6d9;
      font-weight: bold;
      font-size: 17px;
      width: -webkit-fill-available;
    }
  }


  @media screen and (min-width: 1200px) {
    .min3 {
      padding: 0 12px 0 0 !important;
    }
    .min4 {
      padding: 0 !important;
    }
  }

  .min2 {
    .grid {
      display: grid;
      grid-auto-columns: 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8% 6.8%;
      grid-auto-rows: 158px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
      border: 1px solid #edf1f2;
      border-radius: 4px;
      margin-top: 31px;
      background-color: #ffffff;

      &:hover .qwe {
        display: block;
      }

      .item1 {
        grid-column: 1/5;
        grid-row: 1/1;
      }

      .item2 {
        grid-column: 7/14;
        grid-row: 1/1;

        p {
          font-weight: bold;
          font-size: 1px;
          margin: 20px 0 10px 0;
        }

        span {
          font-size: 1px;
        }
      }

      .item3 {
        grid-column: 1/8;
        grid-row: 3/4;
        border-top: 1px solid #edf1f2;
        border-right: 1px solid #edf1f2;
        border-bottom: 1px solid #edf1f2;
        font-size: 1px;
        padding-top: 6px;

        .item3 span {
          padding-left: 8px;
          vertical-align: middle;
          color: #999999;
        }
      }

      .item4 {
        grid-column: 8/16;
        grid-row: 3/4;
        border-bottom: 1px solid #edf1f2;
        border-top: 1px solid #edf1f2;
        font-size: 1px;
        padding-top: 6px;

        .item4 span {
          padding-left: 8px;
          vertical-align: middle;
          color: #999999;
        }
      }

      .item5 {
        grid-row: 4/5;
        grid-column: 1/8;
        border-bottom: 1px solid #edf1f2;
        border-right: 1px solid #edf1f2;
        font-size: 1px;
        padding-top: 6px;

        .inm1 {
          padding-left: 8px;
          color: #999999;
          vertical-align: middle;
        }

        .inm2 {
          font-size: 14px;
          font-weight: bold;
          color: red;
          vertical-align: middle;
        }

        .inm3 {
          vertical-align: middle;
        }
      }

      .item6 {
        grid-row: 4/5;
        grid-column: 8/16;
        border-bottom: 1px solid #edf1f2;
        font-size: 1px;
        padding-top: 6px;

        .inm4 {
          padding-left: 8px;
          color: #999999;
          vertical-align: middle;
        }

        .inm5 {
          color: red;
          font-weight: bold;
          font-size: 14px;
          vertical-align: middle;
        }

        .inm6 {
          vertical-align: middle;
        }
      }

      .item7 {
        grid-row: 5/8;
        grid-column: 1/7;
        color: #999999;
        border-bottom: 1px solid #edf1f2;
        border-right: 1px solid #edf1f2;
        font-size: 1px;
        text-align: -webkit-center;
        padding-top: 46px;
      }

      .item8 {
        grid-row: 5/6;
        grid-column: 7/16;
        border-bottom: 1px solid #edf1f2;
        font-size: 1px;

        .inm8 {
          float: left;
          padding-left: 15px;
          padding-top: 11px;
        }

        .inm9 {
          float: right;
          padding-top: 11px;
          padding-right: 20px;
        }
      }

      .item9 {
        grid-row: 6/7;
        grid-column: 7/16;
        border-bottom: 1px solid #edf1f2;
        font-size: 1px;

        .inm10 {
          float: left;
          padding-left: 15px;
          padding-top: 11px;
        }

        .inm11 {
          float: right;
          padding-top: 11px;
          padding-right: 20px;
        }
      }

      .item10 {
        grid-row: 7/8;
        grid-column: 7/16;
        border-bottom: 1px solid #edf1f2;
        font-size: 1px;

        .inm12 {
          float: left;
          padding-left: 15px;
          padding-top: 11px;
        }

        .inm13 {
          float: right;
          padding-top: 11px;
          padding-right: 20px;
        }
      }

      .item11 {
        grid-row: 8/9;
        grid-column: 1/16;
        border-bottom: 1px solid #edf1f2;
        padding-top: 11px;
        font-size: 1px;

        .inm14 {
          padding-left: 8px;
        }

        .inm15 {
          color: red;
        }
      }

      .item12 {
        grid-row: 9/10;
        grid-column: 1/16;

        span {
          font-size: 12px;
          padding-left: 8px;
          vertical-align: -webkit-baseline-middle;
        }
      }
      .qwe {
        display: none;
        -webkit-animation: cartoon 1s;
        grid-row: 1/10;
        grid-column: 1/16;
        width: 100%;
        background-color: #999999;
        background: rgba(0, 0, 0, 0.6) none repeat scroll !important;
        filter: Alpha(opacity=20%);
        text-align: -webkit-center;
        padding: 28px;
        color: #ffffff;

        &:hover p {
          opacity: 1;
        }
      }

      @keyframes cartoon {
        0% {
          -webkit-transform: rotateY(0deg);
        }
        100% {
          -webkit-transform: rotateY(360deg);
        }
      }
    }
  }
}















//.grid:hover .qwe{
//  display: block;
//}
//.qwe{
//
//}

.cr6-ending{
  display: flex;
}
.row{
  margin-right: 0!important;
  margin-left: 0!important;
}