body{
    margin: 0;
}
.box{
    position: fixed;
    width: 100%;
}
.s-one-a{
    height: 56px;
    background-color: #5fc0cd;
    text-align: center;
}
.s-one-a p{
    display: inline;
    line-height: 53px;
    font-size: 21px;
    color: #ffffff;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 12px;
    padding-right: 7px;
    border-radius: 7px;
    background-color: #55a8b3;
    margin-right: -8px;
}
.s-one-a span{
    font-size: 21px;
    background-color: #ffffff;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 3px;
    padding-top: 3px;
    border-radius: 7px;
    color: #5fc0cd;
}
.s-one-b{
    position: absolute;
    top: 13px;
    left: 90%;
}
.s-two-a{
    height: 56px;
    border-bottom: 1px solid;
    border-bottom-color: #e1e5e7;
    background-color: #ffffff;
}
.s-two-aa{
    float: right;
    padding-top: 10px;
    padding-right: 5px;
}
.dropdown {
    display: inline-block;
    width: 33%;
    text-align: center;
    border-right: 1px solid;
    border-right-color: #e1e5e7;
    margin-bottom: 18px;
    margin-top: 18px;
}
.dropdown span{
    color: #999999;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 23%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 5%;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
    position: absolute;
    top: 114px;
}
.dropdown-content p{
    margin: 0;
}
.dropdown-content span{
    display: block;
    color: black;
}
.s-two-aaa{
    float: right;
    padding-top: 10px;
    padding-right: 5px;
}
.dropdown1 {
    display: inline-block;
    width: 30%;
    text-align: center;
    border-right: 1px solid;
    border-right-color: #e1e5e7;
    margin-bottom: 18px;
    margin-top: 18px;
}
.dropdown1 span{
    color: #999999;
}
.dropdown1-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 23%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 3%;
    z-index: 1;
}
.dropdown1:hover .dropdown1-content {
    display: block;
    position: absolute;
    top: 114px;
}
.dropdown1-content p{
    margin: 0;
}
.dropdown1-content span{
    display: block;
    color: black;
}
.s-two-aaaa{
    float: right;
    padding-top: 10px;
    padding-right: 5px;
}
.dropdown2 {
    display: inline-block;
    width: 33%;
    text-align: center;
    margin-bottom: 18px;
    margin-top: 18px;
}
.dropdown2 span{
    color: #999999;
}
.dropdown2-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 23%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 7%;
    z-index: 1;
}
.dropdown2:hover .dropdown2-content {
    display: block;
    position: absolute;
    top: 114px;
}
.dropdown2-content p{
    margin: 0;
}
.dropdown2-content span{
    display: block;
    color: black;
}
.box-2{
    height: 112px;
}
.z-one{
    height: 120px;
    border-bottom: 1px solid;
    border-bottom-color: #e1e5e7;
}
.z-one-a{
    padding-top: 13px;
}
.z-one-a1{
    padding-right: 2px;
    padding-left: 14px;
}
.z-one-a span{
    color: #999999;
}
.z-one-b{
    padding-top: 13px;
    display: flex;
    justify-content: space-between;
}
.z-one-b1{
    padding-left: 20px;
}
.z-one-b2{
    color: red;
    float: right;
}
.z-one-b3{
    padding-right: 10px;
}
.z-one-b4{
    float: right;
    padding-right: 6px;
}
.z-one-c{
    padding-top: 13px;
}
.z-one-c1{
    padding-left: 14px;
    padding-right: 3px;
}
.z-one-c2{
    color: #999999;
}
.z-two{
    height: 120px;
    border-bottom: 1px solid;
    border-bottom-color: #e1e5e7;
}
.z-two-a{
    padding-top: 13px;
}
.z-two-a1{
    padding-right: 2px;
    padding-left: 14px;
}
.z-two-a span{
    color: #999999;
}
.z-two-b{
    padding-top: 13px;
    display: flex;
    justify-content: space-between;
}
.z-two-b1{
    padding-left: 20px;
}
.z-two-b2{
    color: red;
    float: right;
}
.z-two-b3{
    padding-right: 10px;
}
.z-two-b4{
    float: right;
    padding-right: 6px;
}
.z-two-c{
    padding-top: 13px;
}
.z-two-c1{
    padding-left: 14px;
    padding-right: 3px;
}
.z-two-c2{
    color: #999999;
}
.z-three{
    height: 120px;
    border-bottom: 1px solid;
    border-bottom-color: #e1e5e7;
}
.z-three-a{
    padding-top: 13px;
}
.z-three-a1{
    padding-right: 2px;
    padding-left: 14px;
}
.z-three-a span{
    color: #999999;
}
.z-three-b{
    padding-top: 13px;
    display: flex;
    justify-content: space-between;
}
.z-three-b1{
    padding-left: 20px;
}
.z-three-b2{
    color: red;
    float: right;
}
.z-three-b3{
    padding-right: 10px;
}
.z-three-b4{
    float: right;
    padding-right: 6px;
}
.z-three-c{
    padding-top: 13px;
}
.z-three-c1{
    padding-left: 14px;
    padding-right: 3px;
}
.z-three-c2{
    color: #999999;
}
.z-four{
    height: 210px;
    border-bottom: 1px solid;
    border-bottom-color: #e1e5e7;
}
.z-four-a{
    padding-top: 13px;
}
.z-four-a1{
    padding-right: 2px;
    padding-left: 14px;
}
.z-four-a span{
    color: #999999;
}
.z-four-b{
    padding-top: 13px;
    display: flex;
    justify-content: space-between;
}
.z-four-b1{
    padding-left: 20px;
}
.z-four-b2{
    color: red;
    float: right;
}
.z-four-b3{
    padding-right: 10px;
}
.z-four-b4{
    float: right;
    padding-right: 6px;
}
.z-four-c{
    padding-top: 13px;
}
.z-four-c1{
    padding-left: 14px;
    padding-right: 3px;
}
.z-four-c2{
    color: #999999;
}
.x-one{
    height: 70px;
    background-color: #f8fafb;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.x-one-a{
    padding-top: 6px
}
.x-one-a1{
    padding-left: 31px;
}
.x-one-a2{
    margin-top: 1px;
    margin-left: 38px;
    font-size: 12px;
}
.x-one-b{
    margin-top: 1px;
}
.x-one-c1{
    height: 30px;
    width: 31px;
    padding-top: 6px;
    padding-right: 31px;
}
.x-one-c2{
    margin-top: 1px;
    margin-right: 38px;
    font-size: 12px;
}
.z-one-bx{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
    white-space: nowrap;
}
.z-two-bx{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
    white-space: nowrap;
}
.z-three-bx{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
    white-space: nowrap;
}
.z-four-bx{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
    white-space: nowrap;
}

