.s-one-a{
    height:56px;
    background-color: #5fc0cd;
    position: fixed;
    width: 100%;
}
.s-one-b{
    padding-top: 17px;
    padding-left: 35px;
    width: 11px;
    height: 21px;
}
.s-one-c{
    height: 39px;
    text-align: center;
    font-size: 19px;
    color: #ffffff;
    position: absolute;
    top: 17px;
    left: 43%;
}
.box{
    height: 56px;
}
.s-two-a{
    width: 100%;
    height: 146px;
    background-image: url("inm/task5-beijing.png");
    display: flex;
    background-size: 100% 100%;
}
.s-two-b{
    padding-top: 45px;
    padding-left: 25px;
    height: 70px;
    width: 70px;
    display: flex;
    padding-bottom: 31px;
}
.box-a{
    display: flex;
    padding-top: 57px;
    padding-left: 19px;
    color: #ffffff;
    height: 20px;
}
.s-two-a p{
    margin: 0;
}
.s-two-a span{
    padding-left: 12px;
    font-size: 14px;
    padding-top: 2px;
}
.s-two-c{
    position: absolute;
    padding-top: 81px;
    padding-left: 115px;
    width: 12px;
    height: 16px;
}
.s-two-d{
    font-size: 11px;
    position: absolute;
    color: #ffffff;
    padding-top: 81px;
    padding-left: 135px;
}
.z-one-a{
    margin-left: 14px;
    padding-left: 14px;
    border-left: 2px solid;
    border-left-color: #5fc0cd;
    margin-top: 13px;
}
.z-two-a{
    margin-top: 14px;
    padding-top: 14px;
    border-top: 1px solid;
    border-top-color: #e1e5e7;
}
.z-two-b{
    padding-top: 1px;
    padding-left: 31px;
}
.z-two-c{
    border-left: 1px solid;
    border-left-color: #e1e5e7;
    margin-left: 11px;
    padding-left: 17px;
}
.z-three-a{
    margin-top: 14px;
    padding-top: 14px;
    border-top: 1px solid;
    border-top-color: #e1e5e7;
    height: 36px;
    display: inline-flex;
    width: 93%;
    margin-left: 20px;
}
.z-three-a p{
    height: 20px;
    margin: 0px;
    margin-left: 15px;
    padding-right: 27px;
    color: #999999;
}
.z-three-a span{
    padding-left: 15px;
    border-left: 1px solid;
    border-left-color: #e1e5e7;
    height: 20px;
}
.z-four-a{
    padding-top: 14px;
    border-top: 1px solid;
    border-top-color: #e1e5e7;
    height: 36px;
    display: inline-flex;
    width: 93%;
    margin-left: 20px;
}
.z-four-a p{
    height: 20px;
    margin: 0px;
    margin-left: 15px;
    padding-right: 27px;
    color: #999999;
}
.z-four-a span{
    padding-left: 15px;
    border-left: 1px solid;
    border-left-color: #e1e5e7;
    height: 20px;
}
.z-five-a{
    padding-top: 14px;
    border-top: 1px solid;
    border-top-color: #e1e5e7;
    height: 36px;
    display: inline-flex;
    width: 93%;
    margin-left: 20px;
}
.z-five-a p{
    height: 20px;
    margin: 0px;
    margin-left: 15px;
    padding-right: 27px;
    color: #999999;
}
.z-five-a span{
    padding-left: 15px;
    border-left: 1px solid;
    border-left-color: #e1e5e7;
    height: 20px;
    color:  #e26163;
}
.z-six-a{
    padding-top: 7px;
    border-top: 1px solid;
    border-top-color: #e1e5e7;
    height: 62px;
    display: inline-flex;
    width: 93%;
    margin-left: 20px;
    border-bottom: 1px solid;
    border-bottom-color: #e1e5e7;
    padding-bottom: 2%;
}
.z-six-a p{
    height: 26px;
    margin: 0px;
    margin-left: 15px;
    padding-right: 27px;
    color: #999999;
    width: 65px;
    margin-top: 19px;
    border-right: 1px solid;
    border-right-color: #e1e5e7;
    position: absolute;
}
.z-six-a span{
    padding-left: 124px;
    height: 135px;
}
.x-one-a{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    padding-top: 17px;
    padding-bottom: 3px;
}
.x-one-b{
    font-size: 17px;
    margin-left: 20px;
    padding-left: 12%;
    padding-right: 12%;
    border: 1px solid;
    height: 28px;
    padding-top: 8px;
    border-color: #5fc0cd;
    border-radius:7px;
    float: left;
    width: 11%;
}
.x-one-c{
    font-size: 17px;
    padding-top: 8px;
    margin-left: 13%;
    padding-left: 8%;
    float: right;
    background-color: #5fc0cd;
    height: 30px;
    padding-right: 8%;
    border-radius:7px;
    text-align: center;
    float: right;
    margin-right: 20px;
    width: 22%;
    color: #ffffff;
}
.box{
    height: 56px;
}