body {
  background-color: #fbfbfb;
  max-width: 780px;
  margin: auto; }

header {
  position: fixed;
  width: 100%;
  max-width: 780px;
  margin: auto; }
  header .max1 {
    height: 56px;
    background-color: #5fc0cd;
    text-align: center; }
    header .max1 p {
      display: inline;
      line-height: 53px;
      font-size: 21px;
      color: #fff;
      padding: 3px 12px 3px 7px;
      border-radius: 7px;
      background-color: #55a8b3;
      margin-right: -8px; }
    header .max1 span {
      font-size: 21px;
      background-color: #fff;
      padding: 3px 12px;
      border-radius: 7px;
      color: #5fc0cd; }
    header .max1 img {
      position: absolute;
      top: 13px;
      left: 90%; }
  header .max2 {
    height: 56px;
    border-bottom: 1px solid;
    border-bottom-color: #e1e5e7;
    background-color: #fff; }
    header .max2 .dropdown {
      display: inline-block;
      width: 31.9%;
      text-align: center;
      border-right: 1px solid;
      border-right-color: #e1e5e7;
      margin: 18px 0; }
      header .max2 .dropdown:hover .dropdown-content {
        display: block;
        position: absolute;
        top: 114px; }
      header .max2 .dropdown span {
        color: #999999; }
        header .max2 .dropdown span img {
          float: right;
          padding: 10px 5px 0 0; }
      header .max2 .dropdown .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 23%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 5%;
        z-index: 1; }
        header .max2 .dropdown .dropdown-content p {
          margin: 0; }
        header .max2 .dropdown .dropdown-content span {
          display: block;
          color: black; }

.box-2 {
  height: 112px; }

main .max1 {
  height: 112px;
  border-bottom: 1px solid;
  border-bottom-color: #e1e5e7; }
  main .max1 .min1 {
    padding-top: 13px; }
    main .max1 .min1 img {
      padding: 0 2px 0 14px; }
    main .max1 .min1 span {
      color: #999999; }
main .max2 {
  padding-top: 13px;
  display: flex;
  justify-content: space-between; }
  main .max2 .min2 {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%;
    white-space: nowrap; }
    main .max2 .min2 span {
      padding-left: 20px; }
  main .max2 .min3 {
    color: red;
    float: right; }
    main .max2 .min3 span {
      padding-right: 10px; }
    main .max2 .min3 img {
      float: right;
      padding-right: 6px; }
main .max3 {
  padding-top: 13px; }
  main .max3 img {
    padding: 0 3px 0 14px; }
  main .max3 span {
    color: #999999; }

footer {
  height: 70px;
  background-color: #f8fafb;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  bottom: 0;
  min-width: 320px;
  max-width: 780px;
  margin: auto; }
  footer a {
    text-decoration: none; }
    footer a .max1 {
      padding-top: 6px; }
      footer a .max1 img {
        padding-left: 31px; }
      footer a .max1 p {
        font-size: 12px;
        margin: 1px 0 0 38px;
        color: #020000;
        cursor: auto; }
    footer a img {
      margin-top: 1px; }
  footer .max2 img {
    height: 30px;
    width: 31px;
    padding: 6px 31px 0 0; }
  footer .max2 p {
    font-size: 12px;
    margin: 1px 38px 0 3px; }

/*# sourceMappingURL=task12-2.css.map */
